<!-- <p>login works!</p> -->
<router-outlet></router-outlet>
<!-- <div class="row mt-2">
    <button (click)="signInWithGoogle()" class="card">
        <div class="card-body">
            <img src="../assets/images/google.png" alt="Google Image">Sign in with Google
        </div>
    </button>
</div> -->
<!--calling googleauth api from authservice-->
<div class="formgroup">
    <button type="button" class="btn googleBtn btn btn-lg btn-primary btn-black btn-signin" (click)="suthService.GoogleAuth()">
        <span class="md-button-wrapper">
            <img _ngcontent_qqo-1="" src="">

        </span>
    </button>
</div>
